<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="this.paramFormGroup">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Unités de mesure</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-select formControlName="temperatureUnit" interface="popover" label="Température">
          <ion-select-option
            *ngFor="let temperatureUnit of this.ETemperatureUnit | keyvalue"
            [value]="temperatureUnit.value">
            {{ temperatureUnit.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="windUnit" interface="popover" label="Vitesse du vent">
          <ion-select-option
            *ngFor="let windUnit of this.EWindUnit | keyvalue"
            [value]="windUnit.value">
            {{ windUnit.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="presureUnit" interface="popover" label="Pression Atmosphérique">
          <ion-select-option
            *ngFor="let presureUnit of this.EPresureUnit | keyvalue"
            [value]="presureUnit.value">
            {{ presureUnit.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>&Agrave; propos</ion-label>
      </ion-item-divider>
      <ion-item [button]="true" (click)="ratingModal.open()">
        <ion-label>Commentaires</ion-label>
      </ion-item>
      <p class="text-center px-5 mt-3 text-gray-500">
        Données fournies par
        <a class="text-blue-400" href="https://openweathermap.org/" target="_blank">OpenWeather</a>
        et
        <a class="text-blue-400" href="https://opencagedata.com/" target="_blank">OpenCage</a>
      </p>
      <p class="text-center px-5 mt-3 text-gray-500">
        Application développée par <a class="text-blue-400">Sébastien Cayet</a>
      </p>
    </ion-item-group>
  </form>

  <app-parameter-rating #ratingModal></app-parameter-rating>
</ion-content>