<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'parameters.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="this.paramFormGroup">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ 'parameters.form.units.title' | translate }}</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-select formControlName="temperatureUnit" interface="popover" label="{{ 'parameters.form.units.temperature' | translate }}">
          <ion-select-option
            *ngFor="let temperatureUnit of this.ETemperatureUnit | keyvalue"
            [value]="temperatureUnit.value">
            {{ temperatureUnit.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="windUnit" interface="popover" label="{{ 'parameters.form.units.wind' | translate }}">
          <ion-select-option
            *ngFor="let windUnit of this.EWindUnit | keyvalue"
            [value]="windUnit.value">
            {{ windUnit.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="presureUnit" interface="popover" label="{{ 'parameters.form.units.presure' | translate }}">
          <ion-select-option
            *ngFor="let presureUnit of this.EPresureUnit | keyvalue"
            [value]="presureUnit.value">
            {{ presureUnit.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{ 'parameters.form.about.title' | translate }}</ion-label>
      </ion-item-divider>
      <ion-item [button]="true" (click)="ratingModal.open()">
        <ion-label>{{ 'parameters.form.about.comments' | translate }}</ion-label>
      </ion-item>
      <p class="text-center px-5 mt-3 text-gray-500" 
        innerHTML="{{ 'parameters.form.about.dataFrom' | translate:{'val1': 'https://openweathermap.org/', 'val2': 'https://opencagedata.com/'} }}">
      </p>
      <p class="text-center px-5 mt-3 text-gray-500"
        innerHTML="{{ 'parameters.form.about.developedBy' | translate:{'val1': 'https://github.com/Niestsabes/weather'} }}">
      </p>
    </ion-item-group>
  </form>

  <app-parameter-rating #ratingModal></app-parameter-rating>
</ion-content>