<ion-content [fullscreen]="true">
  <section id="container" class="p-5 flex flex-col justify-between">
    <header class="flex justify-between align-top text-white">
      <app-button-icon [iconName]="'icon-plus'" [routerLink]="'/city'"></app-button-icon>
      <div>
        <h1 class="text-4xl font-bold">{{ this.focusedCityName | async }}</h1>
        <div id="swiper-pagination"></div>
      </div>
      <app-button-icon [iconName]="'icon-ellipsis-vertical'" [routerLink]="'/parameter'"></app-button-icon>
      <!-- <app-button-icon id="menu-popover-trigger" [iconName]="'icon-ellipsis-vertical'" [routerLink]="'/parameter'"></app-button-icon>
      <ion-popover trigger="menu-popover-trigger" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [routerLink]="'/share'" [button]="true" [detail]="false">Partager</ion-item>
              <ion-item [routerLink]="'/parameter'" [button]="true" [detail]="false">Paramètres</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover> -->
    </header>
    <ng-container *ngIf="(this.currentWeather$ | async | keyvalue) as listCurrentWeather;">
      <swiper-container id="swiper-container" *ngIf="listCurrentWeather.length > 0; else noCityTemplate"
        class="w-full flex-grow" [slidesPerView]="1" [loop]="false" [speed]="500" [spaceBetween]="20" [pagination]="this.swiperPagination"
        (slidechangetransitionend)="this.handleSlideChange($event)">
        <swiper-slide *ngFor="let weather of listCurrentWeather"
          class="flex flex-col justify-between overflow-y-scroll">
          <main class="flex flex-col justify-center">
            <p class="flex justify-center align-top">
              <span class="font-bold text-8xl text-white">
                {{ weather.value.main?.temp | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' }}
              </span>
              <span class="font-bold text-3xl text-white mt-2 ml-1">
                {{ '' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}
              </span>
            </p>
            <p class="text-slate-300 font-bold text-xl">
              <span>
                {{ weather.value.weather[0].description | titlecase }}
              </span>
              &nbsp;
              <span>
                {{ weather.value.main.temp_max | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}
              </span>
              &nbsp;/&nbsp;
              <span>
                {{ weather.value.main.temp_min | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}
              </span>
            </p>
          </main>
          <aside class="weather-detail-grid grid grid-flow-row grid-col-2 gap-4">
            <app-home-forecast class="col-span-2" [focusedCityId]="weather.key" #homeForecast></app-home-forecast>
            <app-home-short-forecast class="col-span-2" [cityId]="weather.key"></app-home-short-forecast>
            <app-home-weather-detail class="row-span-2" [weather]="weather.value"></app-home-weather-detail>
            <app-home-wind [weather]="weather.value"></app-home-wind>
            <app-home-sunset [weather]="weather.value"></app-home-sunset>
          </aside>
        </swiper-slide>
      </swiper-container>
      <ng-template #noCityTemplate>
        <main class="flex-grow flex flex-col justify-center items-center">
          <h2 class="text-center text-slate-300 font-bold text-xl text-white">
            {{ 'home.main.noCityRegistered.title' | translate }}
          </h2>
          <p class="w-3/4 mt-3 text-white">
            {{ 'home.main.noCityRegistered.description' | translate }}
          </p>
          <app-button [routerLink]="'/city'" class="w-3/4" [iconName]="'icon-plus'">
            <span>{{ 'home.main.noCityRegistered.action' | translate }}</span>
          </app-button>
        </main>
      </ng-template>
    </ng-container>
  </section>
</ion-content>
