<ion-content [fullscreen]="true">
  <section id="container" class="p-5 flex flex-col justify-between">
    <header class="flex justify-between align-top">
      <app-button-icon [iconName]="'icon-plus'" [routerLink]="'/add-city'"></app-button-icon>
      <div>
        <h1 class="text-4xl font-bold">{{ this.listCityLabel?.[this.idFocusedCity] }}</h1>
        <p class="text-sm">Last update: {{ this.latestUpdateTimestamp | dateFormat:'HH:mm' }}</p>
      </div>
      <app-button-icon id="menu-popover-trigger" [iconName]="'icon-ellipsis-vertical'"></app-button-icon>
      <ion-popover trigger="menu-popover-trigger" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [routerLink]="'/share'" [button]="true" [detail]="false">Partager</ion-item>
              <ion-item [routerLink]="'/parameter'" [button]="true" [detail]="false">Paramètres</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </header>
    <main #currentWeatherCard>
      <ng-container *ngIf="(this.currentWeather$ | async | keyvalue) as currentWeather">
        <p class="flex justify-center align-top">
          <span class="font-bold text-8xl text-white">
            {{ currentWeather?.[this.idFocusedCity]?.value?.main?.temp | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' }}
          </span>
          <span class="font-bold text-3xl text-white mt-2 ml-1">
            {{ '' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}
          </span>
        </p>
        <p class="text-slate-300 font-bold text-xl">
          <span>
            {{ currentWeather?.[this.idFocusedCity]?.value?.weather[0].description | titlecase }}
          </span>
          &nbsp;
          <span>
            {{ currentWeather?.[this.idFocusedCity]?.value?.main.temp_max | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}
          </span>
          &nbsp;/&nbsp;
          <span>
            {{ currentWeather?.[this.idFocusedCity]?.value?.main.temp_min | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}
          </span>
        </p>
      </ng-container>
    </main> 
    <app-home-forecast [focusedCityName]="this.listCityLabel?.[this.idFocusedCity]"></app-home-forecast>
  </section>
</ion-content>
