<article class="bg-slate-100 bg-opacity-20 rounded-xl p-3 h-full w-full">
  <table class="w-full">
    <thead>
      <tr>
        <th scpoe="col" class="text-left" colspan="3">
          <h2>
            <span class="icon-calendar mr-2"></span>
            <span>{{ 'home.main.forecast.title' | translate }}</span>
          </h2>
        </th>
        <th scpoe="col" class="text-right">
          <a>{{ 'home.main.forecast.details' | translate }}</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of (this.currentForecast$ | async | forecastGroup:this.focusedCityId:this.APP_CONFIG.nbDaysShortForecast)">
        <td class="text-center">
          <app-weather-icon
            [iconCode]="forecast.weather[0].icon"
            [iconDescription]="forecast.weather[0].description">
          </app-weather-icon>
        </td>
        <td class="text-left">{{ forecast.dt | dateFormat: 'ddd' }}.</td>
        <td class="text-left">{{ forecast.weather[0].description | titlecase }}</td>
        <td class="text-right">
          <span>{{ forecast.main.temp_max | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}</span>
          &nbsp;/&nbsp;
          <span>{{ forecast.main.temp_min | temperatureValue:(this.userSettings$ | async).temperatureUnit | number:'1.0-0' | temperatureUnit:(this.userSettings$ | async).temperatureUnit }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-button [routerLink]="'/forecast/' + this.focusedCityId">
    <span>{{ 'home.main.forecast.forecast' | translate:{'val1': this.APP_CONFIG.nbDaysLongForecast} }}</span>
  </app-button>
</article>
