<article class="mb-3">
  <div class="bg-slate-100 bg-opacity-20 rounded-xl p-5 w-full flex justify-between align-middle">
    <div class="flex-grow">
      <h2 class="font-bold">{{ this.city.name }}</h2>
      <p>
        <span>IQA 16</span>
        <span>
          19°
        </span>
        &nbsp;/&nbsp;
        <span>
          8°
        </span>
      </p>
    </div>
    <div class="text-4xl align-middle">
      <span>18°</span>
    </div>
    <div>
      <app-button-icon iconName="icon-trash" (click)="this.remove()"></app-button-icon>
    </div>
  </div>
</article>