<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'city.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="relative">
  <form [formGroup]="this.searchFormGroup" class="sticky top-0">
    <ion-searchbar
      placeholder="{{ 'city.search' | translate }}"
      [formControlName]="'search'"
      (ionClear)="clearSearch()">
    </ion-searchbar>
    <ion-list *ngIf="this.cities.length > 0">
      <ion-item *ngFor="let city of cities" (click)="this.selectCity(city); this.clearSearch()">
        <span>{{ city.name }} ({{ city.country }})</span>
        <app-button-icon
          slot="end"
          [iconName]="'icon-plus'">
        </app-button-icon>
      </ion-item>
    </ion-list>
  </form>
  <section class="p-3">
    <ng-container *ngFor="let city of selectedCities">
      <app-city-card
        [city]="city"
        (removeCity)="this.removeCity(city)">
      </app-city-card>
    </ng-container>
  </section>
</ion-content>
